.App {
  /* text-align: center; */
  margin: 10px auto;
  background:rgb(243, 243, 243);
}
/* header */
.header{
  display:flex;
  justify-content: space-between;
  width:100%;
  background:white;
  /* position: fixed ; */
  border-bottom: 1px solid rgb(228, 228, 228);
  align-items: center;

}

.header-left{
display:flex;
align-items: center;
}

.instagram-logo{
  width:40px;
  padding:0 20px ;
  border-right: 1px solid black;
}

.instagram-text{
  width:200px;
}

.bar{
  border: 1px solid rgb(228, 228, 228);
  width: 300px;
  height: 30px;
  border-radius: 4px;
}

.nav{
  width:200px;
padding:0 20px ;
justify-content: flex-end;
}

/* post container */
.post {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 4px;
 background:white;
  width: 650px;
  margin: 70px auto 0 auto;
}

.postie {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: auto 0;
}
.thumbNail {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.photo {
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.like {
  height: 30px;
  padding-right: 20px;
}

.comment {
  height: 32px;
}

.bottom-info {
  margin: 0 20px;
  padding: 0;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.timestamp {
  color: rgb(126, 126, 126);
}
