.App {
  /* text-align: center; */
  width: 100;
  margin: 10px auto;
  background: rgb(245, 245, 245);
  line-height: 1;
}
/* header */
.header-back {
  padding: 5px 0px;
  border-bottom: 1px solid rgb(228, 228, 228);
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
}

.header {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.instagram-logo {
  width: 30px;
  padding: 0 20px;
  border-right: 1px solid black;
}

.instagram-text {
  width: 150px;
}

.bar {
  border: 1px solid rgb(228, 228, 228);
  width: 300px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  background: rgb(245, 245, 245);
  font-size: 18px;
  @media (max-width 500px) {
    display: none;
  }
}

.nav {
  width: 150px;
  padding: 0 20px;
  justify-content: flex-end;
}

/* post container */
.post {
  border: 1px solid rgb(228, 228, 228);
  border-radius: 4px;
  background: white;
  width: 650px;
  margin: 70px auto 0 auto;
}

.postie {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: auto 0;
}
.thumbNail {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.photo {
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.like {
  height: 30px;
  padding-right: 20px;
}

.comment {
  height: 32px;
}

.bottom-info {
  margin: 0 20px;
  padding: 0;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.username {
  margin-right: 5px;
}

.timestamp {
  color: rgb(126, 126, 126);
}

/* comment bar */

.comment-bar {
  width: 90%;
  font-weight: bold;
  margin: 0 20px;
  height: 70px;
  font-size: 20px;
  border: 1px solid rgb(255, 255, 255);
}
